@font-face {
  font-family: "FuturaStd-Book";
  src: url(../fonts/FuturaStd-Book.otf); }

@font-face {
  font-family: "FuturaStd-BookOblique";
  src: url(../fonts/FuturaStd-BookOblique.otf); }

@font-face {
  font-family: "FuturaStd-Medium";
  src: url(../fonts/FuturaStd-Medium.otf); }

@font-face {
  font-family: "Palatino";
  src: url(../fonts/Palatino.ttc); }

.fluidContainer {
  width: calc(100% - 140px);
  display: flex; }

.img-responsive {
  max-width: 100%; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.fixedWidthCol {
  flex: 0 0 70px;
  height: 100%; }

.col-1-8 {
  width: 12.5%; }

.col-2-8 {
  width: 25%; }

.col-4-8 {
  width: 50%; }

.col-5-8 {
  width: 62.5%; }

.relative {
  position: relative; }

.divider {
  width: 150px;
  height: 1px;
  background-color: #e5e5e5; }

.relative {
  position: relative; }

input[type="text"]:focus {
  outline: none; }

#logoImg {
  margin-top: 3em;
  width: 160px; }

.text-right {
  text-align: right; }

/*================Picture row container=====================*/
h1 {
  display: inline-block;
  font-weight: bold;
  font-family: arial;
  color: transparent;
  font-size: 62px;
  position: absolute;
  left: -15px;
  bottom: -20px;
  line-height: 1em;
  margin: 0 15% 0 0;
  font-family: "Copernicus"; }
  h1 .backgroundSpan {
    background-color: #fff;
    position: relative; }
    h1 .backgroundSpan .textClipSpan {
      background: url(../assets/forest.jpg);
      background-position: bottom;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: inline; }

.imageWrapper {
  height: 650px;
  background-image: url(../assets/forest.jpg);
  background-size: cover;
  background-position: bottom; }

.iconButton {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -25px;
  left: -25px;
  cursor: pointer;
  display: none; }
  .iconButton img {
    height: 15px;
    display: block;
    padding: 5px 3px; }

#pencilIconButton {
  display: block;
  background-color: #f3e13b; }

#xIconButton {
  top: -50px;
  background-color: #e56d3e; }

#checkmarkIconButton {
  background-color: #a2d05a; }

#editBox {
  background-color: #fff;
  padding: 20px 20px 0;
  margin-top: auto;
  position: relative;
  display: none; }
  #editBox input[type="text"] {
    font-size: 42px;
    font-family: "Copernicus";
    padding: 10px;
    width: calc(100% - 20px); }

.smallFont {
  font-family: "FuturaStd-Book";
  color: #b2b2b2;
  font-size: 14px;
  margin: 8px 0 0; }

#slugName {
  font-family: "FuturaStd-BookOblique";
  color: #666666; }

/*================Article text container=====================*/
.articleContainer {
  padding-top: 105px; }

h2 {
  font-family: "Copernicus";
  display: inline-block;
  font-size: 14px;
  color: #6f4f31;
  margin-top: 5px;
  margin-bottom: 35px; }

h3,
.h3 {
  font-size: 11px;
  font-family: "FuturaStd-Medium";
  color: #b2b2b2;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 25px; }

.tags {
  margin-top: 10px; }
  .tags .tags h3 {
    margin-bottom: 3px; }

p {
  margin-top: 0;
  text-align: left;
  font-size: 19px;
  line-height: 1.6em;
  font-family: "Paladino";
  padding-right: 18%; }

.h4 {
  font-family: "FuturaStd-Medium";
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 100;
  word-spacing: 3px;
  padding-right: 5px; }

.largeFont {
  font-family: "Copernicus";
  font-size: 32px;
  color: #8a98a6;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
  left: -40px;
  margin: 40px 0;
  padding-right: 20%; }

@media screen and (max-width: 768px) {
  .col-sm-6-8 {
    width: 75%; }
  .sm-100 {
    width: 100%; }
  .sm-text-center {
    text-align: center; }
  .sm-hide {
    display: none; }
  .imageWrapper {
    height: 400px; }
  .fixedWidthCol {
    flex: 0 0 30px; }
  .fluidContainer {
    width: calc(100% - 60px); }
  h1 {
    width: 100%;
    font-size: 50px;
    left: 0;
    margin-right: 0;
    text-align: center; }
  #editBox {
    background-color: #fff;
    padding: 15px 15px 0; }
    #editBox input[type="text"] {
      font-size: 30px;
      padding: 5px; }
  .articleContainer {
    padding-top: 50px; }
  p {
    padding-right: 0;
    text-align: justify; }
  p:first-child {
    padding-top: 25px; }
  .largeFont {
    padding-right: 0;
    left: 0;
    font-size: 28px; }
  .tags h3 {
    display: inline; }
  .divider {
    margin: 0 auto; } }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 42px; }
  .largeFont {
    font-size: 24px;
    margin: 15px 0; } }
